<template>
  <v-card
    link
    :to="`/shopping-list/${shoppingList.slug}`"
    class="my-4 mx-4 pa-1"
    :style="{ backgroundColor: shoppingList.color }"
    width="100%"
    max-width="calc(100% / 3 - 32px)"
  >
    <v-card-text>
      <v-list-item three-line>
        <v-row align="start">
          <v-col class="display-3" cols="9">
            <v-list-item-content>
              <v-list-item-title
                class="headline mb-1"
                v-text="shoppingList.title"
              />
              <v-list-item-subtitle v-text="'01-03-2020'" />
            </v-list-item-content>
          </v-col>
          <v-col cols="3">
            <v-list-item-subtitle
              v-text="`${shoppingList.done}/${shoppingList.total}`"
            />
          </v-col>
        </v-row>
      </v-list-item>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ShoppingListCard',

  props: {
    shoppingList: {
      type: Object,
      required: true,
      default() {
        return {
          slug: 'nazwa-listy-zakopow',
          title: 'Lidl',
          color: '#456fc2',
          created: new Date().getUTCDate(),
          total: 10,
          done: 3,
        }
      },
    },
  },
}
</script>
