<template>
  <v-container>
    <v-card
      max-width="600"
      class="mx-auto px-4 pb-4"
      :style="{ backgroundColor: shoppingList.color }"
    >
      <v-list-item-content>
        <v-list-item-title class="headline mb-1" v-text="shoppingList.title" />
        <v-list-item-subtitle v-text="shoppingList.created" />
      </v-list-item-content>
      <v-card light class="pa-4">
        <v-expansion-panels
          multiple
          flat
          accordion
          :value="openedExtensionArray"
        >
          <v-expansion-panel
            v-for="category in shoppingList.items"
            :key="category.id"
          >
            <v-expansion-panel-header
              :style="{ backgroundColor: category.color }"
              >{{ category.title }}</v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <v-list-item-group multiple>
                <v-list-item
                  v-for="item in category.items"
                  :key="`List item ${item.id}`"
                  dense
                  inactive
                >
                  <template>
                    <v-list-item-action>
                      <v-checkbox
                        v-model="item.done"
                        color="primary"
                      ></v-checkbox>
                    </v-list-item-action>

                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'text-line-through': item.done }"
                        v-text="item.title"
                      />
                    </v-list-item-content>
                    <div>{{ item.count }}{{ item.amount }}</div>
                  </template>
                </v-list-item>
              </v-list-item-group>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card>
      <v-list-item-content>
        <v-list-item-title
          class="headline mb-1 text-right"
          v-text="`${countDone}/${total}`"
        />
      </v-list-item-content>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      shoppingList: {
        title: 'Lidl',
        color: '#559cff',
        created: '20-20-2020',
        items: [
          {
            id: 1,
            title: 'Pieczywo',
            color: '#ffc124',
            items: [
              {
                id: 1,
                title: 'Bułka',
                count: '4',
                amount: '',
                done: true,
              },
              {
                id: 2,
                title: 'Chleb',
                count: '1',
                amount: '',
                done: false,
              },
            ],
          },
          {
            id: 2,
            title: 'Warzywa',
            color: '#489a5c',
            items: [
              {
                id: 3,
                title: 'Por',
                count: '1',
                amount: '',
                done: false,
              },
              {
                id: 4,
                title: 'Pomidor',
                count: '3',
                amount: 'kg',
                done: true,
              },
            ],
          },
          {
            id: 3,
            title: 'Owoce',
            color: '#ff3908',
            items: [
              {
                id: 5,
                title: 'Pomarańcz',
                count: '1',
                amount: '',
                done: false,
              },
              {
                id: 6,
                title: 'Jabłka',
                count: '10',
                amount: 'kg',
                done: true,
              },
            ],
          },
        ],
      },
    }
  },

  computed: {
    openedExtensionArray() {
      return Array.from(Array(this.shoppingList.items.length), (d, i) => i)
    },
    total() {
      return this.shoppingList.items.reduce((a, b) => {
        if (a.items === undefined) {
          return a + b.items.length
        }
        return a.items.length + b.items.length
      })
    },
    countDone() {
      let done = 0
      this.shoppingList.items.forEach((category) => {
        done += category.items.reduce((a, b) => {
          return (a.done ? 1 : 0) + (b.done ? 1 : 0)
        })
      })
      return done
    },
  },
}
</script>

<style lang="scss" scoped>
.text-line-through {
  text-decoration: line-through;
}
</style>
