<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-row align="start" justify="start">
          <ShoppingListCard v-for="n in 7" :key="n" />
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ShoppingListCard from '@/components/shopping-list/ShoppingListCard'

export default {
  components: {
    ShoppingListCard,
  },
}
</script>
