<template>
  <v-card
    link
    :to="`/recipes/${recipe.slug}`"
    class="my-8 mx-4"
    max-width="calc(100% / 3 - 32px)"
  >
    <v-img
      class="white--text align-end"
      height="250"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    >
      <div class="fill-height bottom-gradient"></div>
      <v-card-title v-text="recipe.title" />
    </v-img>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ml-4">4.5 (413)</div>
      </v-row>

      <div>
        Small plates, salads & sandwiches - an intimate setting with 12 indoor
        seats plus patio seating.
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'RecipeCard',

  props: {
    recipe: {
      type: Object,
      required: true,
      default() {
        return {
          slug: 'zupa-koperkowa',
          title: 'Zupa koperkowa',
        }
      },
    },
  },
}
</script>
