<template>
  <div>
    <v-parallax height="300" :src="require('@/static/food.jpg')" />
    <v-container>
      <v-row no-gutters>
        <v-col :cols="7">
          <v-chip v-for="n in 10" :key="n" small class="mr-2 mb-2" label>
            Recipe Tag {{ n }}
          </v-chip>
          <header class="display-1">Recipe title</header>

          <v-banner
            v-for="cat in recipe.steps"
            :key="`Step cat ${cat.id}`"
            single-line
          >
            {{ cat.title }}
            <v-list-item v-for="{ id, text } in cat.items" :key="`Step ${id}`">
              <v-list-item-content>
                <v-list-item-title>{{ text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-banner>
        </v-col>
        <v-col :cols="4">
          <v-subheader>Składniki</v-subheader>

          <v-simple-table
            v-for="cat in recipe.ingredients"
            :key="`Ingredient cat ${cat.id}`"
            class="mb-8"
            dense
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th colspan="2" class="text-center">
                    {{ cat.title }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="{ id, title, count, amount } in cat.items"
                  :key="`Ingredient ${id}`"
                >
                  <td>{{ title }}</td>
                  <td class="text-right">{{ count }}{{ amount }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      recipe: {
        steps: [
          {
            id: 1,
            title: 'Spód',
            items: [
              {
                id: 1,
                text:
                  'Do mąki dodać pokrojone w kosteczkę masło, cukier puder oraz cukier wanilinowy. Wymieszać czubkami palców lub mieszadłem (łopatką) miksera planetarnego.',
              },
              {
                id: 2,
                text:
                  'Stopniowo zagarniać mąkę do środka lub miksować dalej mikserem aż ciasto zacznie tworzyć grudki.',
              },
              {
                id: 3,
                text:
                  'Dodać żółtka i wyrabiać ciasto aż składniki się połączą do gładkości. Zawinąć w folię i włożyć do lodówki na ok. 1 - 2 godziny.',
              },
              {
                id: 4,
                text:
                  'Ciasto rozwałkować pomiędzy dwoma arkuszami papieru do pieczenia na placek o wymiarach ok. 20 x 30 cm.',
              },
              {
                id: 5,
                text:
                  'Spód podziurkować widelcem i wstawić do lodówki na ok. 15 min. W międzyczasie nagrzać piekarnik do 180 stopni C.',
              },
              {
                id: 6,
                text:
                  'Wstawić formę z ciastem i piec przez ok. 20 - 25 minut na złoty kolor.',
              },
            ],
          },
          {
            id: 2,
            title: 'Masa',
            items: [
              {
                id: 7,
                text:
                  'Pomarańcze i cytryny wyszorować w gorącej wodzie. Odciąć czubki i przekręcić owoce wraz ze skórką przez maszynkę odrzucając pestki.',
              },
              {
                id: 8,
                text:
                  'Włożyć do rondelka, dodać cukier i smażyć na małym ogniu mieszając aż masa będzie przejrzysta, przez ok. pół godziny.',
              },
              {
                id: 9,
                text:
                  'Zestawić z ognia, dosypać posiekane migdały i wymieszać.',
              },
              {
                id: 10,
                text:
                  'Na upieczonym cieście rozsmarować masę (nożem, maczając w gorącej wodzie). Polać polewą i przybrać rodzynkami. Na polewę czekoladową: do miseczki włożyć połamaną na kosteczki czekoladę, wlać mleko i roztopić w mikrofali lub kąpieli wodnej, wymieszać do uzyskania gładkiej konsystencji.',
              },
            ],
          },
        ],
        ingredients: [
          {
            id: 1,
            title: 'Spód',
            items: [
              {
                id: 1,
                title: 'Mąka pszenna',
                count: '300',
                amount: 'g',
              },
              {
                id: 2,
                title: 'Masło',
                count: '200',
                amount: 'g',
              },
              {
                id: 3,
                title: 'Masło',
                count: '200',
                amount: 'g',
              },
              {
                id: 4,
                title: 'Cukier puder',
                count: '100',
                amount: 'g',
              },
              {
                id: 5,
                title: 'Cukier wanilinowy',
                count: '1',
                amount: '',
              },
              {
                id: 6,
                title: 'Żółtka',
                count: '3',
                amount: '',
              },
            ],
          },
          {
            id: 2,
            title: 'Masa',
            items: [
              {
                id: 7,
                title: 'Pomarańcz',
                count: '500',
                amount: 'g',
              },
              {
                id: 8,
                title: 'Cytryna',
                count: '2',
                amount: '',
              },
              {
                id: 9,
                title: 'Cukier',
                count: '400',
                amount: 'g',
              },
              {
                id: 10,
                title: 'Woda',
                count: '125',
                amount: 'ml',
              },
              {
                id: 11,
                title: 'Migdały',
                count: '100',
                amount: 'g',
              },
            ],
          },
        ],
      },
    }
  },
}
</script>
