<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-row align="start" justify="start">
          <RecipeCard v-for="n in 30" :key="n" />
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RecipeCard from '@/components/RecipeCard'

export default {
  components: {
    RecipeCard,
  },
}
</script>
